<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30339">
    <setting id="ssdp_timeout" type="number" label="30340" default="5"/>
    <setting id="saved_servers" type="text" label="30388" default="" visible="false"/>
    </category>
    <category label="30362">
    <setting id="bmdelay" type="slider" label="30377" default="0" range="0,1,30" option="int"/>
    <setting id="pastop" type="labelenum" label="30383" values="0|5|10|15|20|25|30|35|40|45|50|55|60" default="0"/>
    <setting id="content_pin" type="number" label="30363" option="hidden" default=""/>
    <setting id="caching" type="bool" label="30366" default="false"/>
    <setting id="kodiactor" type="bool" label="30367" default="true"/>
    <setting id="koditv" type="bool" label="30369" default="false"/>
    <setting id="kodichange" type="bool" label="30370" default="true"/>
    <setting id="kodisyncvar" type="labelenum" label="30371" values="Off|Daily|Newest|Normal" default="Normal"/>
    <setting id="kodisync" type="bool" label="30386" default="false"/>
    <setting id="mdupelog" type="bool" label="30374" default="false"/>
    <setting id="perflog" type="bool" label="30378" default="false"/>
    <setting id="kodiclean" type="bool" label="30368" default="false"/>
    <setting id="refreshflag" type="text" label="30385" default="0" visible="false"/>
    <setting id="autostart" type="text" label="30388" default="" visible="false"/>
    <setting id="contenturl" type="text" label="30388" default="" visible="false"/>
    <setting id="dailysync" type="text" label="30388" default="0" visible="false"/>
    <setting id="sync_offset" type="text" label="30388" default="0" visible="false"/>
    </category>
    <!-- View -->
    <category label="30300">
    <setting id="only_mezzmo_servers" type="bool" label="30350" default="true"/>
    <setting id="viewmap" type="bool" label="30387" default="true"/>
    <setting id="skinname" type="enum" label="30061" values="Estuary|Confluence|Aeon Nox 5" default="Estuary"/>
	
    <!--Confluence Skin-->
    <setting id="top_view_mode" type="enum" label="30349" lvalues="30345|30331|30332|30333" default="1" subsetting="true"  visible="eq(-1,1)" enable="eq(-1,1)"/>
    <setting id="folders_view_mode" type="enum" label="30342" lvalues="30345|30331|30332|30333" default="3" subsetting="true"  visible="eq(-2,1)" enable="eq(-2,1)"/>
    <setting id="files_view_mode" type="enum" label="30343" lvalues="30345|30331|30332|30333" default="3" subsetting="true"  visible="eq(-3,1)" enable="eq(-3,1)"/>
    <setting id="servers_view_mode" type="enum" label="30344" lvalues="30345|30331|30332|30333" default="3" subsetting="true"  visible="eq(-4,1)" enable="eq(-4,1)"/>
    <setting id="movies_view_mode" type="enum" label="30330" lvalues="30345|30331|30332|30333|30334|30335|30336|30337|30338" default="5" subsetting="true"  visible="eq(-5,1)" enable="eq(-5,1)"/>
    <setting id="episodes_view_mode" type="enum" label="30341" lvalues="30345|30331|30332|30333|30334|30335|30336|30337|30338" default="7" subsetting="true"  visible="eq(-6,1)" enable="eq(-6,1)"/>
    <setting id="songs_view_mode" type="enum" label="30365" lvalues="30345|30331|30332|30333|30334|30335|30336|30337|30338|30376" default="3" subsetting="true"  visible="eq(-7,1)" enable="eq(-7,1)"/>
    <setting id="musicvideos_view_mode" type="enum" label="30382" lvalues="30345|30331|30332|30333|30334|30335|30336|30337|30338|30376" default="3" subsetting="true"  visible="eq(-8,1)" enable="eq(-8,1)"/>
    
    <!--Aeon Nox 5 Skin-->
    <setting id="aeoncontentmap" type="labelenum" label="30375" values="Default|Movies|Episodes" default="Default" subsetting="true"  visible="eq(-9,2)" enable="eq(-9,2)"/>
    <setting id="top_view_mode_aeon" type="labelenum" label="30349" values="Default|List|InfoWall|Landscape|ShowCase1|ShowCase2|TriPanel|Posters|Shift|BannerWall|Icons|LowList|Episode|Wall|Gallery|Panel|RightList|BigList" default="List" subsetting="true"  visible="eq(-10,2)" enable="eq(-10,2)"/>
    <setting id="folders_view_mode_aeon" type="labelenum" label="30342" values="Default|List|InfoWall|Landscape|ShowCase1|ShowCase2|TriPanel|Posters|Shift|BannerWall|Icons|LowList|Episode|Wall|Gallery|Panel|RightList|BigList|SongList|MyFlix|BigFan|BannerPlex|FanartList|Music_JukeBox|Fullscreen_Wall" default="List" subsetting="true"  visible="eq(-11,2)" enable="eq(-11,2)"/>
    <setting id="files_view_mode_aeon" type="labelenum" label="30343" values="Default|List|InfoWall|Landscape|ShowCase1|ShowCase2|TriPanel|Posters|Shift|BannerWall|Icons|LowList|Episode|Wall|Gallery|Panel|RightList|BigList|SongList|MyFlix|BigFan|BannerPlex|FanartList|Music_JukeBox|Fullscreen_Wall" default="List" subsetting="true"  visible="eq(-12,2)" enable="eq(-12,2)"/>
    <setting id="servers_view_mode_aeon" type="labelenum" label="30344" values="Default|List|InfoWall|Landscape|ShowCase1|ShowCase2|TriPanel|Posters|Shift|BannerWall|Icons|LowList|Episode|Wall|Gallery|Panel|RightList|BigList|SongList|MyFlix|BigFan|BannerPlex|FanartList|Music_JukeBox|Fullscreen_Wall" default="List" subsetting="true"  visible="eq(-13,2)" enable="eq(-13,2)"/>
    <setting id="movies_view_mode_aeon" type="labelenum" label="30330" values="Default|List|InfoWall|Landscape|ShowCase1|ShowCase2|TriPanel|Posters|Shift|BannerWall|Icons|LowList|Episode|Wall|Gallery|Panel|RightList|BigList|SongList|MyFlix|BigFan|BannerPlex|FanartList|Music_JukeBox|Fullscreen_Wall" default="Shift" subsetting="true"  visible="eq(-14,2)" enable="eq(-14,2)"/>
    <setting id="episodes_view_mode_aeon" type="labelenum" label="30341" values="Default|List|InfoWall|Landscape|ShowCase1|ShowCase2|TriPanel|Posters|Shift|BannerWall|Icons|LowList|Episode|Wall|Gallery|Panel|RightList|BigList|SongList|MyFlix|BigFan|BannerPlex|FanartList|Music_JukeBox|Fullscreen_Wall" default="Episode" subsetting="true"  visible="eq(-15,2)" enable="eq(-15,2)"/>
    <setting id="songs_view_mode_aeon" type="labelenum" label="30365" values="Default|List|InfoWall|Landscape|ShowCase1|ShowCase2|TriPanel|Posters|Shift|BannerWall|Icons|LowList|Episode|Wall|Gallery|Panel|RightList|BigList|SongList|MyFlix|BigFan|BannerPlex|FanartList|Music_JukeBox|Fullscreen_Wall" default="List" subsetting="true"  visible="eq(-16,2)" enable="eq(-16,2)"/>
    <setting id="musicvideos_view_mode_aeon" type="labelenum" label="30382" values="Default|List|InfoWall|Landscape|ShowCase1|ShowCase2|TriPanel|Posters|Shift|BannerWall|Icons|LowList|Episode|Wall|Gallery|Panel|RightList|BigList|SongList|MyFlix|BigFan|BannerPlex|FanartList|Music_JukeBox|Fullscreen_Wall" default="List" subsetting="true"  visible="eq(-17,2)" enable="eq(-17,2)"/>
    <setting id="videos_view_mode_aeon" type="labelenum" label="30381" values="Default|List|InfoWall|Landscape|ShowCase1|ShowCase2|TriPanel|Posters|Shift|BannerWall|Icons|LowList|Episode|Wall|Gallery|Panel|RightList|BigList|SongList|MyFlix|BigFan|BannerPlex|FanartList|Music_JukeBox|Fullscreen_Wall" default="List" subsetting="true"  visible="eq(-18,2)" enable="eq(-18,2)"/>
    
    <!--Estuary Skin-->
    <setting id="estuarycontentmap" type="labelenum" label="30375" values="Default|Movies|Episodes" default="Default" subsetting="true"  visible="eq(-19,0)" enable="eq(-19,0)"/>
    <setting id="top_view_mode_estuary" type="labelenum" label="30349" values="Default|List|Posters|IconWall|Shift|InfoWall|WideList|Wall|Banner|FanArt" default="List" subsetting="true"  visible="eq(-20,0)" enable="eq(-20,0)"/>
    <setting id="folders_view_mode_estuary" type="labelenum" label="30342" values="Default|List|Posters|IconWall|Shift|InfoWall|WideList|Wall|Banner|FanArt" default="List" subsetting="true"  visible="eq(-21,0)" enable="eq(-21,0)"/>
    <setting id="files_view_mode_estuary" type="labelenum" label="30343" values="Default|List|Posters|IconWall|Shift|InfoWall|WideList|Wall|Banner|FanArt" default="List" subsetting="true"  visible="eq(-22,0)" enable="eq(-22,0)"/>
    <setting id="servers_view_mode_estuary" type="labelenum" label="30344" values="Default|List|Posters|IconWall|Shift|InfoWall|WideList|Wall|Banner|FanArt" default="List" subsetting="true"  visible="eq(-23,0)" enable="eq(-23,0)"/>
    <setting id="movies_view_mode_estuary" type="labelenum" label="30330" values="Default|List|Posters|IconWall|Shift|InfoWall|WideList|Wall|Banner|FanArt" default="List" subsetting="true"  visible="eq(-24,0)" enable="eq(-24,0)"/>
    <setting id="episodes_view_mode_estuary" type="labelenum" label="30341" values="Default|List|Posters|IconWall|Shift|InfoWall|WideList|Wall|Banner|FanArt" default="List" subsetting="true"  visible="eq(-25,0)" enable="eq(-25,0)"/>
    <setting id="songs_view_mode_estuary" type="labelenum" label="30365" values="Default|List|IconWall|Shift|InfoWall|WideList|Wall" default="List" subsetting="true"  visible="eq(-26,0)" enable="eq(-26,0)"/>
    <setting id="musicvideos_view_mode_estuary" type="labelenum" label="30382" values="Default|List|IconWall|Shift|InfoWall|WideList|Wall" default="List" subsetting="true"  visible="eq(-27,0)" enable="eq(-27,0)"/>
    <setting id="videos_view_mode_estuary" type="labelenum" label="30381" values="Default|List|IconWall|Shift|InfoWall|WideList|Wall" default="List" subsetting="true"  visible="eq(-28,0)" enable="eq(-28,0)"/>
    
    </category>
    <!-- Search -->
    <category label="30351">
	<setting id="search_video" type="bool" label="30352" default="true"/>
	<setting id="search_music" type="bool" label="30353" default="true"/>
	<setting id="search_photo" type="bool" label="30354" default="true"/>
	<setting id="search_title" type="bool" label="30360" default="true"/>
	<setting id="search_artist" type="bool" label="30356" default="true"/>
	<setting id="search_album" type="bool" label="30355" default="true"/>
	<setting id="search_tagline" type="bool" label="30357" default="true"/>
	<setting id="search_description" type="bool" label="30358" default="true"/>
	<setting id="search_keywords" type="bool" label="30359" default="true"/>
	<setting id="search_creator" type="bool" label="30364" default="true"/>
    </category>
</settings>
