<?xml version="1.0" ?>
<settings version="1">
	<section id="plugin.video.mezzmo">
		<category id="ssdp search" label="30339" help="">
			<group id="1">
				<setting id="ssdp_timeout" type="integer" label="30340" help="">
					<level>0</level>
					<default>5</default>
					<control type="edit" format="integer">
						<heading>30340</heading>
					</control>
				</setting>
			</group>
		</category>
		<category id="content control" label="30362" help="">
			<group id="1">
				<setting id="bmdelay" type="integer" label="30377" help="30501">
					<level>0</level>
					<default>0</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>30</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="pastop" type="string" label="30383" help="30523">
					<level>0</level>
					<default>0</default>
					<constraints>
						<options>
							<option>0</option>
							<option>5</option>
                                                        <option>10</option>
                                                        <option>15</option>
                                                        <option>20</option>
                                                        <option>25</option>
                                                        <option>30</option>
                                                        <option>35</option>
                                                        <option>40</option>
                                                        <option>45</option>
                                                        <option>50</option>
                                                        <option>55</option>
                                                        <option>60</option>
						</options>
					</constraints>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="content_pin" type="integer" label="30363" help="">
					<level>0</level>
					<default>0</default>
					<control type="edit" format="integer">
						<heading>30363</heading>
					</control>
				</setting>
				<setting id="caching" type="boolean" label="30366" help="30502">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="kodiactor" type="boolean" label="30367" help="30503">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="koditv" type="boolean" label="30369" help="30504">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="kodichange" type="boolean" label="30370" help="30505">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="kodisyncvar" type="string" label="30371" help="30506">
					<level>0</level>
					<default>Normal</default>
					<constraints>
						<options>
							<option label="Off">Off</option>
							<option label="Daily">Daily</option>
							<option label="Newest">Newest</option>
							<option label="Normal">Normal</option>
						</options>
					</constraints>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="kodisync" type="boolean" label="30386" help="30524">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="mdupelog" type="boolean" label="30374" help="30507">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="perflog" type="boolean" label="30378" help="30520">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="kodiclean" type="boolean" label="30368" help="30508">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="refreshflag" type="string" label="30385" help="">
					<level>0</level>
					<default>0</default>
					<dependencies>
						<dependency type="visible">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>30385</heading>
					</control>
				</setting>
			</group>
		</category>
		<category id="view" label="30300" help="">
			<group id="1">
				<setting id="only_mezzmo_servers" type="boolean" label="30350" help="30509">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="viewmap" type="boolean" label="30387" help="30525">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="skinname" type="integer" label="30061" help="30510">
					<level>0</level>
					<default>Estuary</default>
					<constraints>
						<options>
							<option label="Estuary">0</option>
							<option label="Confluence">1</option>
							<option label="Aeon Nox 5">2</option>
						</options>
					</constraints>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="top_view_mode" type="integer" label="30349" help="30511" parent="skinname">
					<level>0</level>
					<default>1</default>
					<constraints>
						<options>
							<option label="30345">0</option>
							<option label="30331">1</option>
							<option label="30332">2</option>
							<option label="30333">3</option>
						</options>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="skinname">1</condition>
						</dependency>
						<dependency type="visible">
							<condition operator="is" setting="skinname">1</condition>
						</dependency>
					</dependencies>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="folders_view_mode" type="integer" label="30342" help="30512" parent="skinname">
					<level>0</level>
					<default>3</default>
					<constraints>
						<options>
							<option label="30345">0</option>
							<option label="30331">1</option>
							<option label="30332">2</option>
							<option label="30333">3</option>
						</options>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="skinname">1</condition>
						</dependency>
						<dependency type="visible">
							<condition operator="is" setting="skinname">1</condition>
						</dependency>
					</dependencies>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="files_view_mode" type="integer" label="30343" help="30515" parent="skinname">
					<level>0</level>
					<default>3</default>
					<constraints>
						<options>
							<option label="30345">0</option>
							<option label="30331">1</option>
							<option label="30332">2</option>
							<option label="30333">3</option>
						</options>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="skinname">1</condition>
						</dependency>
						<dependency type="visible">
							<condition operator="is" setting="skinname">1</condition>
						</dependency>
					</dependencies>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="servers_view_mode" type="integer" label="30344" help="30516" parent="skinname">
					<level>0</level>
					<default>3</default>
					<constraints>
						<options>
							<option label="30345">0</option>
							<option label="30331">1</option>
							<option label="30332">2</option>
							<option label="30333">3</option>
						</options>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="skinname">1</condition>
						</dependency>
						<dependency type="visible">
							<condition operator="is" setting="skinname">1</condition>
						</dependency>
					</dependencies>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="movies_view_mode" type="integer" label="30330" help="30517" parent="skinname">
					<level>0</level>
					<default>5</default>
					<constraints>
						<options>
							<option label="30345">0</option>
							<option label="30331">1</option>
							<option label="30332">2</option>
							<option label="30333">3</option>
							<option label="30334">4</option>
							<option label="30335">5</option>
							<option label="30336">6</option>
							<option label="30337">7</option>
							<option label="30338">8</option>
						</options>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="skinname">1</condition>
						</dependency>
						<dependency type="visible">
							<condition operator="is" setting="skinname">1</condition>
						</dependency>
					</dependencies>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="episodes_view_mode" type="integer" label="30341" help="30518" parent="skinname">
					<level>0</level>
					<default>7</default>
					<constraints>
						<options>
							<option label="30345">0</option>
							<option label="30331">1</option>
							<option label="30332">2</option>
							<option label="30333">3</option>
							<option label="30334">4</option>
							<option label="30335">5</option>
							<option label="30336">6</option>
							<option label="30337">7</option>
							<option label="30338">8</option>
						</options>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="skinname">1</condition>
						</dependency>
						<dependency type="visible">
							<condition operator="is" setting="skinname">1</condition>
						</dependency>
					</dependencies>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="songs_view_mode" type="integer" label="30365" help="30519" parent="skinname">
					<level>0</level>
					<default>3</default>
					<constraints>
						<options>
							<option label="30345">0</option>
							<option label="30331">1</option>
							<option label="30332">2</option>
							<option label="30333">3</option>
							<option label="30334">4</option>
							<option label="30335">5</option>
							<option label="30336">6</option>
							<option label="30337">7</option>
							<option label="30338">8</option>
							<option label="30376">9</option>
						</options>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="skinname">1</condition>
						</dependency>
						<dependency type="visible">
							<condition operator="is" setting="skinname">1</condition>
						</dependency>
					</dependencies>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="musicvideos_view_mode" type="integer" label="30382" help="30522" parent="skinname">
					<level>0</level>
					<default>3</default>
					<constraints>
						<options>
							<option label="30345">0</option>
							<option label="30331">1</option>
							<option label="30332">2</option>
							<option label="30333">3</option>
							<option label="30334">4</option>
							<option label="30335">5</option>
							<option label="30336">6</option>
							<option label="30337">7</option>
							<option label="30338">8</option>
							<option label="30376">9</option>
						</options>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="skinname">1</condition>
						</dependency>
						<dependency type="visible">
							<condition operator="is" setting="skinname">1</condition>
						</dependency>
					</dependencies>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="aeoncontentmap" type="string" label="30375" help="30513" parent="skinname">
					<level>0</level>
					<default>Default</default>
					<constraints>
						<options>
							<option label="Default">Default</option>
							<option label="Movies">Movies</option>
							<option label="Episodes">Episodes</option>
						</options>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="skinname">2</condition>
						</dependency>
						<dependency type="visible">
							<condition operator="is" setting="skinname">2</condition>
						</dependency>
					</dependencies>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="top_view_mode_aeon" type="string" label="30349" help="30511" parent="skinname">
					<level>0</level>
					<default>List</default>
					<constraints>
						<options>
							<option label="Default">Default</option>
							<option label="List">List</option>
							<option label="InfoWall">InfoWall</option>
							<option label="Landscape">Landscape</option>
							<option label="ShowCase1">ShowCase1</option>
							<option label="ShowCase2">ShowCase2</option>
							<option label="TriPanel">TriPanel</option>
							<option label="Posters">Posters</option>
							<option label="Shift">Shift</option>
							<option label="BannerWall">BannerWall</option>
							<option label="Icons">Icons</option>
							<option label="LowList">LowList</option>
							<option label="Episode">Episode</option>
							<option label="Wall">Wall</option>
							<option label="Gallery">Gallery</option>
							<option label="Panel">Panel</option>
							<option label="RightList">RightList</option>
							<option label="BigList">BigList</option>
						</options>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="skinname">2</condition>
						</dependency>
						<dependency type="visible">
							<condition operator="is" setting="skinname">2</condition>
						</dependency>
					</dependencies>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="folders_view_mode_aeon" type="string" label="30342" help="30512" parent="skinname">
					<level>0</level>
					<default>List</default>
					<constraints>
						<options>
							<option label="Default">Default</option>
							<option label="List">List</option>
							<option label="InfoWall">InfoWall</option>
							<option label="Landscape">Landscape</option>
							<option label="ShowCase1">ShowCase1</option>
							<option label="ShowCase2">ShowCase2</option>
							<option label="TriPanel">TriPanel</option>
							<option label="Posters">Posters</option>
							<option label="Shift">Shift</option>
							<option label="BannerWall">BannerWall</option>
							<option label="Icons">Icons</option>
							<option label="LowList">LowList</option>
							<option label="Episode">Episode</option>
							<option label="Wall">Wall</option>
							<option label="Gallery">Gallery</option>
							<option label="Panel">Panel</option>
							<option label="RightList">RightList</option>
							<option label="BigList">BigList</option>
							<option label="SongList">SongList</option>
							<option label="MyFlix">MyFlix</option>
							<option label="BigFan">BigFan</option>
							<option label="BannerPlex">BannerPlex</option>
							<option label="FanartList">FanartList</option>
							<option label="Music_JukeBox">Music_JukeBox</option>
							<option label="Fullscreen_Wall">Fullscreen_Wall</option>
						</options>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="skinname">2</condition>
						</dependency>
						<dependency type="visible">
							<condition operator="is" setting="skinname">2</condition>
						</dependency>
					</dependencies>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="files_view_mode_aeon" type="string" label="30343" help="30515" parent="skinname">
					<level>0</level>
					<default>List</default>
					<constraints>
						<options>
							<option label="Default">Default</option>
							<option label="List">List</option>
							<option label="InfoWall">InfoWall</option>
							<option label="Landscape">Landscape</option>
							<option label="ShowCase1">ShowCase1</option>
							<option label="ShowCase2">ShowCase2</option>
							<option label="TriPanel">TriPanel</option>
							<option label="Posters">Posters</option>
							<option label="Shift">Shift</option>
							<option label="BannerWall">BannerWall</option>
							<option label="Icons">Icons</option>
							<option label="LowList">LowList</option>
							<option label="Episode">Episode</option>
							<option label="Wall">Wall</option>
							<option label="Gallery">Gallery</option>
							<option label="Panel">Panel</option>
							<option label="RightList">RightList</option>
							<option label="BigList">BigList</option>
							<option label="SongList">SongList</option>
							<option label="MyFlix">MyFlix</option>
							<option label="BigFan">BigFan</option>
							<option label="BannerPlex">BannerPlex</option>
							<option label="FanartList">FanartList</option>
							<option label="Music_JukeBox">Music_JukeBox</option>
							<option label="Fullscreen_Wall">Fullscreen_Wall</option>
						</options>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="skinname">2</condition>
						</dependency>
						<dependency type="visible">
							<condition operator="is" setting="skinname">2</condition>
						</dependency>
					</dependencies>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="servers_view_mode_aeon" type="string" label="30344" help="30516" parent="skinname">
					<level>0</level>
					<default>List</default>
					<constraints>
						<options>
							<option label="Default">Default</option>
							<option label="List">List</option>
							<option label="InfoWall">InfoWall</option>
							<option label="Landscape">Landscape</option>
							<option label="ShowCase1">ShowCase1</option>
							<option label="ShowCase2">ShowCase2</option>
							<option label="TriPanel">TriPanel</option>
							<option label="Posters">Posters</option>
							<option label="Shift">Shift</option>
							<option label="BannerWall">BannerWall</option>
							<option label="Icons">Icons</option>
							<option label="LowList">LowList</option>
							<option label="Episode">Episode</option>
							<option label="Wall">Wall</option>
							<option label="Gallery">Gallery</option>
							<option label="Panel">Panel</option>
							<option label="RightList">RightList</option>
							<option label="BigList">BigList</option>
							<option label="SongList">SongList</option>
							<option label="MyFlix">MyFlix</option>
							<option label="BigFan">BigFan</option>
							<option label="BannerPlex">BannerPlex</option>
							<option label="FanartList">FanartList</option>
							<option label="Music_JukeBox">Music_JukeBox</option>
							<option label="Fullscreen_Wall">Fullscreen_Wall</option>
						</options>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="skinname">2</condition>
						</dependency>
						<dependency type="visible">
							<condition operator="is" setting="skinname">2</condition>
						</dependency>
					</dependencies>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="movies_view_mode_aeon" type="string" label="30330" help="30517" parent="skinname">
					<level>0</level>
					<default>Shift</default>
					<constraints>
						<options>
							<option label="Default">Default</option>
							<option label="List">List</option>
							<option label="InfoWall">InfoWall</option>
							<option label="Landscape">Landscape</option>
							<option label="ShowCase1">ShowCase1</option>
							<option label="ShowCase2">ShowCase2</option>
							<option label="TriPanel">TriPanel</option>
							<option label="Posters">Posters</option>
							<option label="Shift">Shift</option>
							<option label="BannerWall">BannerWall</option>
							<option label="Icons">Icons</option>
							<option label="LowList">LowList</option>
							<option label="Episode">Episode</option>
							<option label="Wall">Wall</option>
							<option label="Gallery">Gallery</option>
							<option label="Panel">Panel</option>
							<option label="RightList">RightList</option>
							<option label="BigList">BigList</option>
							<option label="SongList">SongList</option>
							<option label="MyFlix">MyFlix</option>
							<option label="BigFan">BigFan</option>
							<option label="BannerPlex">BannerPlex</option>
							<option label="FanartList">FanartList</option>
							<option label="Music_JukeBox">Music_JukeBox</option>
							<option label="Fullscreen_Wall">Fullscreen_Wall</option>
						</options>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="skinname">2</condition>
						</dependency>
						<dependency type="visible">
							<condition operator="is" setting="skinname">2</condition>
						</dependency>
					</dependencies>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="episodes_view_mode_aeon" type="string" label="30341" help="30518" parent="skinname">
					<level>0</level>
					<default>Episode</default>
					<constraints>
						<options>
							<option label="Default">Default</option>
							<option label="List">List</option>
							<option label="InfoWall">InfoWall</option>
							<option label="Landscape">Landscape</option>
							<option label="ShowCase1">ShowCase1</option>
							<option label="ShowCase2">ShowCase2</option>
							<option label="TriPanel">TriPanel</option>
							<option label="Posters">Posters</option>
							<option label="Shift">Shift</option>
							<option label="BannerWall">BannerWall</option>
							<option label="Icons">Icons</option>
							<option label="LowList">LowList</option>
							<option label="Episode">Episode</option>
							<option label="Wall">Wall</option>
							<option label="Gallery">Gallery</option>
							<option label="Panel">Panel</option>
							<option label="RightList">RightList</option>
							<option label="BigList">BigList</option>
							<option label="SongList">SongList</option>
							<option label="MyFlix">MyFlix</option>
							<option label="BigFan">BigFan</option>
							<option label="BannerPlex">BannerPlex</option>
							<option label="FanartList">FanartList</option>
							<option label="Music_JukeBox">Music_JukeBox</option>
							<option label="Fullscreen_Wall">Fullscreen_Wall</option>
						</options>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="skinname">2</condition>
						</dependency>
						<dependency type="visible">
							<condition operator="is" setting="skinname">2</condition>
						</dependency>
					</dependencies>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="songs_view_mode_aeon" type="string" label="30365" help="30519" parent="skinname">
					<level>0</level>
					<default>List</default>
					<constraints>
						<options>
							<option label="Default">Default</option>
							<option label="List">List</option>
							<option label="InfoWall">InfoWall</option>
							<option label="Landscape">Landscape</option>
							<option label="ShowCase1">ShowCase1</option>
							<option label="ShowCase2">ShowCase2</option>
							<option label="TriPanel">TriPanel</option>
							<option label="Posters">Posters</option>
							<option label="Shift">Shift</option>
							<option label="BannerWall">BannerWall</option>
							<option label="Icons">Icons</option>
							<option label="LowList">LowList</option>
							<option label="Episode">Episode</option>
							<option label="Wall">Wall</option>
							<option label="Gallery">Gallery</option>
							<option label="Panel">Panel</option>
							<option label="RightList">RightList</option>
							<option label="BigList">BigList</option>
							<option label="SongList">SongList</option>
							<option label="MyFlix">MyFlix</option>
							<option label="BigFan">BigFan</option>
							<option label="BannerPlex">BannerPlex</option>
							<option label="FanartList">FanartList</option>
							<option label="Music_JukeBox">Music_JukeBox</option>
							<option label="Fullscreen_Wall">Fullscreen_Wall</option>
						</options>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="skinname">2</condition>
						</dependency>
						<dependency type="visible">
							<condition operator="is" setting="skinname">2</condition>
						</dependency>
					</dependencies>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="musicvideos_view_mode_aeon" type="string" label="30382" help="30522" parent="skinname">
					<level>0</level>
					<default>List</default>
					<constraints>
						<options>
							<option label="Default">Default</option>
							<option label="List">List</option>
							<option label="InfoWall">InfoWall</option>
							<option label="Landscape">Landscape</option>
							<option label="ShowCase1">ShowCase1</option>
							<option label="ShowCase2">ShowCase2</option>
							<option label="TriPanel">TriPanel</option>
							<option label="Posters">Posters</option>
							<option label="Shift">Shift</option>
							<option label="BannerWall">BannerWall</option>
							<option label="Icons">Icons</option>
							<option label="LowList">LowList</option>
							<option label="Episode">Episode</option>
							<option label="Wall">Wall</option>
							<option label="Gallery">Gallery</option>
							<option label="Panel">Panel</option>
							<option label="RightList">RightList</option>
							<option label="BigList">BigList</option>
							<option label="SongList">SongList</option>
							<option label="MyFlix">MyFlix</option>
							<option label="BigFan">BigFan</option>
							<option label="BannerPlex">BannerPlex</option>
							<option label="FanartList">FanartList</option>
							<option label="Music_JukeBox">Music_JukeBox</option>
							<option label="Fullscreen_Wall">Fullscreen_Wall</option>
						</options>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="skinname">2</condition>
						</dependency>
						<dependency type="visible">
							<condition operator="is" setting="skinname">2</condition>
						</dependency>
					</dependencies>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="videos_view_mode_aeon" type="string" label="30381" help="30521" parent="skinname">
					<level>0</level>
					<default>List</default>
					<constraints>
						<options>
							<option label="Default">Default</option>
							<option label="List">List</option>
							<option label="InfoWall">InfoWall</option>
							<option label="Landscape">Landscape</option>
							<option label="ShowCase1">ShowCase1</option>
							<option label="ShowCase2">ShowCase2</option>
							<option label="TriPanel">TriPanel</option>
							<option label="Posters">Posters</option>
							<option label="Shift">Shift</option>
							<option label="BannerWall">BannerWall</option>
							<option label="Icons">Icons</option>
							<option label="LowList">LowList</option>
							<option label="Episode">Episode</option>
							<option label="Wall">Wall</option>
							<option label="Gallery">Gallery</option>
							<option label="Panel">Panel</option>
							<option label="RightList">RightList</option>
							<option label="BigList">BigList</option>
							<option label="SongList">SongList</option>
							<option label="MyFlix">MyFlix</option>
							<option label="BigFan">BigFan</option>
							<option label="BannerPlex">BannerPlex</option>
							<option label="FanartList">FanartList</option>
							<option label="Music_JukeBox">Music_JukeBox</option>
							<option label="Fullscreen_Wall">Fullscreen_Wall</option>
						</options>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="skinname">2</condition>
						</dependency>
						<dependency type="visible">
							<condition operator="is" setting="skinname">2</condition>
						</dependency>
					</dependencies>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="estuarycontentmap" type="string" label="30375" help="30513" parent="skinname">
					<level>0</level>
					<default>Default</default>
					<constraints>
						<options>
							<option label="Default">Default</option>
							<option label="Movies">Movies</option>
							<option label="Episodes">Episodes</option>
						</options>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="skinname">0</condition>
						</dependency>
						<dependency type="visible">
							<condition operator="is" setting="skinname">0</condition>
						</dependency>
					</dependencies>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="top_view_mode_estuary" type="string" label="30349" help="30511" parent="skinname">
					<level>0</level>
					<default>List</default>
					<constraints>
						<options>
							<option label="Default">Default</option>
							<option label="List">List</option>
							<option label="Posters">Posters</option>
							<option label="IconWall">IconWall</option>
							<option label="Shift">Shift</option>
							<option label="InfoWall">InfoWall</option>
							<option label="WideList">WideList</option>
							<option label="Wall">Wall</option>
							<option label="Banner">Banner</option>
							<option label="FanArt">FanArt</option>
						</options>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="skinname">0</condition>
						</dependency>
						<dependency type="visible">
							<condition operator="is" setting="skinname">0</condition>
						</dependency>
					</dependencies>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="folders_view_mode_estuary" type="string" label="30342" help="30512" parent="skinname">
					<level>0</level>
					<default>List</default>
					<constraints>
						<options>
							<option label="Default">Default</option>
							<option label="List">List</option>
							<option label="Posters">Posters</option>
							<option label="IconWall">IconWall</option>
							<option label="Shift">Shift</option>
							<option label="InfoWall">InfoWall</option>
							<option label="WideList">WideList</option>
							<option label="Wall">Wall</option>
							<option label="Banner">Banner</option>
							<option label="FanArt">FanArt</option>
						</options>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="skinname">0</condition>
						</dependency>
						<dependency type="visible">
							<condition operator="is" setting="skinname">0</condition>
						</dependency>
					</dependencies>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="files_view_mode_estuary" type="string" label="30343" help="30515" parent="skinname">
					<level>0</level>
					<default>List</default>
					<constraints>
						<options>
							<option label="Default">Default</option>
							<option label="List">List</option>
							<option label="Posters">Posters</option>
							<option label="IconWall">IconWall</option>
							<option label="Shift">Shift</option>
							<option label="InfoWall">InfoWall</option>
							<option label="WideList">WideList</option>
							<option label="Wall">Wall</option>
							<option label="Banner">Banner</option>
							<option label="FanArt">FanArt</option>
						</options>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="skinname">0</condition>
						</dependency>
						<dependency type="visible">
							<condition operator="is" setting="skinname">0</condition>
						</dependency>
					</dependencies>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="servers_view_mode_estuary" type="string" label="30344" help="30516" parent="skinname">
					<level>0</level>
					<default>List</default>
					<constraints>
						<options>
							<option label="Default">Default</option>
							<option label="List">List</option>
							<option label="Posters">Posters</option>
							<option label="IconWall">IconWall</option>
							<option label="Shift">Shift</option>
							<option label="InfoWall">InfoWall</option>
							<option label="WideList">WideList</option>
							<option label="Wall">Wall</option>
							<option label="Banner">Banner</option>
							<option label="FanArt">FanArt</option>
						</options>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="skinname">0</condition>
						</dependency>
						<dependency type="visible">
							<condition operator="is" setting="skinname">0</condition>
						</dependency>
					</dependencies>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="movies_view_mode_estuary" type="string" label="30330" help="30517" parent="skinname">
					<level>0</level>
					<default>List</default>
					<constraints>
						<options>
							<option label="Default">Default</option>
							<option label="List">List</option>
							<option label="Posters">Posters</option>
							<option label="IconWall">IconWall</option>
							<option label="Shift">Shift</option>
							<option label="InfoWall">InfoWall</option>
							<option label="WideList">WideList</option>
							<option label="Wall">Wall</option>
							<option label="Banner">Banner</option>
							<option label="FanArt">FanArt</option>
						</options>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="skinname">0</condition>
						</dependency>
						<dependency type="visible">
							<condition operator="is" setting="skinname">0</condition>
						</dependency>
					</dependencies>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="episodes_view_mode_estuary" type="string" label="30341" help="30518" parent="skinname">
					<level>0</level>
					<default>List</default>
					<constraints>
						<options>
							<option label="Default">Default</option>
							<option label="List">List</option>
							<option label="Posters">Posters</option>
							<option label="IconWall">IconWall</option>
							<option label="Shift">Shift</option>
							<option label="InfoWall">InfoWall</option>
							<option label="WideList">WideList</option>
							<option label="Wall">Wall</option>
							<option label="Banner">Banner</option>
							<option label="FanArt">FanArt</option>
						</options>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="skinname">0</condition>
						</dependency>
						<dependency type="visible">
							<condition operator="is" setting="skinname">0</condition>
						</dependency>
					</dependencies>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="songs_view_mode_estuary" type="string" label="30365" help="30519" parent="skinname">
					<level>0</level>
					<default>List</default>
					<constraints>
						<options>
							<option label="Default">Default</option>
							<option label="List">List</option>
							<option label="IconWall">IconWall</option>
							<option label="Shift">Shift</option>
							<option label="InfoWall">InfoWall</option>
							<option label="WideList">WideList</option>
							<option label="Wall">Wall</option>
						</options>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="skinname">0</condition>
						</dependency>
						<dependency type="visible">
							<condition operator="is" setting="skinname">0</condition>
						</dependency>
					</dependencies>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="musicvideos_view_mode_estuary" type="string" label="30382" help="30522" parent="skinname">
					<level>0</level>
					<default>List</default>
					<constraints>
						<options>
							<option label="Default">Default</option>
							<option label="List">List</option>
							<option label="Posters">Posters</option>
							<option label="IconWall">IconWall</option>
							<option label="Shift">Shift</option>
							<option label="InfoWall">InfoWall</option>
							<option label="WideList">WideList</option>
							<option label="Wall">Wall</option>
							<option label="Banner">Banner</option>
							<option label="FanArt">FanArt</option>
						</options>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="skinname">0</condition>
						</dependency>
						<dependency type="visible">
							<condition operator="is" setting="skinname">0</condition>
						</dependency>
					</dependencies>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="videos_view_mode_estuary" type="string" label="30381" help="30521" parent="skinname">
					<level>0</level>
					<default>List</default>
					<constraints>
						<options>
							<option label="Default">Default</option>
							<option label="List">List</option>
							<option label="Posters">Posters</option>
							<option label="IconWall">IconWall</option>
							<option label="Shift">Shift</option>
							<option label="InfoWall">InfoWall</option>
							<option label="WideList">WideList</option>
							<option label="Wall">Wall</option>
							<option label="Banner">Banner</option>
							<option label="FanArt">FanArt</option>
						</options>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="skinname">0</condition>
						</dependency>
						<dependency type="visible">
							<condition operator="is" setting="skinname">0</condition>
						</dependency>
					</dependencies>
					<control type="spinner" format="string"/>
				</setting>
			</group>
		</category>
		<category id="search" label="30351" help="">
			<group id="1">
				<setting id="search_video" type="boolean" label="30352" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="search_music" type="boolean" label="30353" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="search_photo" type="boolean" label="30354" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="search_title" type="boolean" label="30360" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="search_artist" type="boolean" label="30356" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="search_album" type="boolean" label="30355" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="search_tagline" type="boolean" label="30357" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="search_description" type="boolean" label="30358" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="search_keywords" type="boolean" label="30359" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="search_creator" type="boolean" label="30364" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
			</group>
		</category>
	</section>
</settings>
